.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding-block: 1em;
  padding-inline: 2em;
  height: 5em;
  width: 100%;
  top: 0%;
  position: fixed;
  background-color: #303141;
  color: #fff;
  border-bottom: 1px solid rgb(73, 80, 119);
}

.sec-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 12rem;
  border-right: 1px solid hsla(0, 0%, 100%, 0.3);
  padding-bottom: 1%;
}

.sec-2 {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column wrap;
  padding-left: 3em;
}

.sec-3 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 17vw;
  gap: 1em;
}

.sec-3 details {
  position: relative;
  cursor: pointer;
}

.burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
}

.sec-2 .navlist {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 2.5em;
}

.navlist details {
  flex: 1;
  max-width: 10em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

.button.login {
  color: #303141;
}

.login svg {
  font-size: large;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-transform: uppercase;
}

.currency-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.currency-item img {
  width: 2em;
}

@media (max-width: 1008px) {
  .navbar {
    padding-block: 0.5em;
    padding-inline: 1em;
  }

  .burger {
    margin-top: 6%;
    display: block;
    font-size: large;
  }

  .sec-1 {
    border-right: 0;
    gap: 1em;
    height: 100%;
  }

  .sec-1 img {
    width: 6.5em;
  }

  .sec-2 {
    display: none;
  }

  .sec-3 div:first-child {
    display: none;
  }

  .cart-container {
    display: none;
  }
}

@media screen and (min-width: 1009px) and (max-width: 1400px) {
  .burger {
    margin-top: 6%;
    display: block;
    font-size: large;
  }

  .sec-1 {
    border-right: 0;
    gap: 1em;
    height: 100%;
  }

  .sec-1 img {
    width: 7em;
  }

  .sec-2 {
    display: none;
  }

  .sec-3 {
    gap: 2em;
  }
}
